.video-container {
max-width: 800px;
margin: 2rem auto;
padding: 1rem;
background-color: #1a1a1a;
border-radius: 10px;
text-align: center;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.video_title{
    color: white;
    margin-bottom: 1rem;
}

.video-player{
    width: 100%;
    border-radius: 10px;
 
}